:root {
    --text-primary-color: #212121;
    --text-secondary-color: #757575;
    --text-active-color: #2196F3;
    --background-color: #FFFFFF;
}

/* Теги */
body {
    width: 1600px;
    font-family: 'Roboto', sans-serif;
    color: var(--text-primary-color);
    background: #F5F5F5;
    font-style: normal;
    font-weight: 400;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

nav {
    display: flex;
    align-items: center;
}

/* Глобальні класи */
.container {
    width: 1200px;
    outline: 1px solid yellow;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
}

/* Хедер */
.header {
    background-color: var(--background-color);
    border: 1px solid #ECECEC;
    outline: 1px solid orange;
}

.nav-list {
    display: flex;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.contact-list {
    display: flex;
    margin-left: auto;
}

.list:not(:last-child) {
    margin-right: 50px;
}

.logo-part {
    color: var(--text-active-color);
}

.logo {
    margin-right: 93px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
    outline: 1px solid orange;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--text-active-color);
}

.nav-contacts:hover,
.nav-contacts:focus,
.contacts-footer:hover,
.contacts-footer:focus {
    color: var(--text-active-color);
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-primary-color);
    outline: 1px solid blue;
}

.nav-contacts {
    color: var(--text-secondary-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-secondary-color);
    outline: 1px solid green;
}

/* Кнопки */
.button-portfolio:hover,
.button-portfolio:focus {
    background-color: var(--text-active-color);
    color: var(--background-color);
}

.button-portfolio {
    margin-bottom: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    color: var(--text-primary-color);
    cursor: pointer;
}

.button-order {
    margin-top: 30px;
    margin-bottom: 106px;
    padding: 10px 32px;
    font-family: 'Roboto';
    background-color: var(--text-active-color);
    color: var(--background-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* Футер */
.logo-footer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--background-color);
    text-decoration: none;
}

.address {
    background-color: #2F303A;
    outline: 1px solid green;
}

.phisical-address {
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--background-color);
    outline: 1px solid green;
}

.contacts-footer {
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    outline: 1px solid green;
}

.contact-address {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--background-color);
    outline: 1px solid red;
}

/* index.html */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.main-title {
    margin-top: 106px;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--background-color);
    outline: 1px solid green;
}

.main-section {
    background-color: #2F303A;
    outline: 1px solid tomato;
    text-align: center;
}

.secondary-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    outline: 1px solid green;
    text-align: center;
}

.sub-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    outline: 1px solid green;
}
.section-margin {
    padding-bottom: 0;
}
.paragraph {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-secondary-color);
    outline: 1px solid green;
}
.advantage-list {
    display: flex;
}
.advantage-item:not(:last-child) {
    margin-right: 30px;
}

.team-member {
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    outline: 1px solid green;
}

.team-position {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-secondary-color);
    outline: 1px solid green;
}
.our-samples {
    display: flex;
    justify-content:center;
}
.sample-item:not(:last-child) {
    margin-right: 30px;
}

.team-list {
    display: flex;
}
/* portfolio.html */
.portfolio-list {
    border: 1px solid #EEEEEE;
    margin-right: 30px;
}
.portfolio-list:nth-child(3n) {
    margin-right: 0;
}

.products {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-primary-color) outline: 1px solid green;
}

.product-category {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-secondary-color);
    outline: 1px solid green;
}
.filter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}